@font-face {
    font-family: DS-DIGIB;
    src: url(DS-DIGIB.TTF);
}

body {
    font-family: DS-DIGIB;
  padding: 0;
  margin: 0;
  background-image: url("../img/gunnerBackground.jpg");
  color: white;
}
.control-block{
    border: 5px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.direction-btn{
    width: 50%;
    border: 10px dotted black;
    border-radius: 50%;
    padding: 5px;

    margin-right: auto;
    margin-left: auto;
}

.direction-potard{
    width: 100%;
    transform: rotate(0deg);
}

.direction-screen{
    border: 1px solid red;
    padding: 2px;
    background-color: black;
    color: white;
    margin-top: 3px;
}

.led{
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;
    border-radius: 50%;
    background-color: #b1b1b1;
    border: 3px dark groove;
    box-shadow: 1px 1px 0px black;

}

#led-green{
    background-color: #00ff00;
}
#btn-shoot{
  box-shadow: 2px 2px 0px black;

}
.container{
  border: 5px solid yellow;
  border-radius: 5px;
  padding: 50px;
  padding-left: 75px;
  padding-right: 75px;
  margin-top: 150px;
  background-color: rgb(14,29,91,0.9);

}
#led-reloaded{
  background-color: #00ff00;
}
.inputDirection{
  width:50%;
  margin-top: 5px;
  background-color: grey;
  border-radius: 7px;
  padding:5px;
  border:solid;
  margin-bottom: 10px;
}

#power-potard{
    appearance: none;
    background-size: cover;
}
